 /* Whole website */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f8fb;
}

/* Main content */
main {
    margin-left: 240px;
    padding: 30px;
}

/* Main title */
h1 {
    color: #263238;
    font-size: 42px;
}

/* Section titles */
h2 {
    color: #37474f;
    margin-top: 35px;
}

/* Paragraph */
p {
    line-height: 1.6;
}

/* Button */
.learn-btn {
    background-color: #81d4fa;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Button hover */
.learn-btn:hover {
    background-color: #4fc3f7;
    transform: scale(1.05);
}

/* Lines */
hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #e0e0e0;
}

/* ---------------------------------------------------- */
/* Navigation bar */
/* ---------------------------------------------------- */

/* Navigation bar */
nav {
    position: fixed;
    left: 0;
    top: 0;

    width: 220px;
    height: 100vh;

    background-color: #172A3A;

    box-shadow: 2px 0 10px rgba(20, 60, 80, 0.18);
}


/* Navigation list */
nav ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
}


/* Navigation buttons */
nav li {
    margin: 6px 12px;

    border-bottom: 1px solid #28465A;
    border-radius: 8px;
}


/* Navigation links */
nav a {
    display: block;

    padding: 15px 16px;

    color: #F1F7FA;
    text-decoration: none;

    font-size: 16px;
}


/* Mouse hover */
nav a:hover {
    background-color: #315A73;
}

/* ---------------------------------------------------- */
/* questionnaire */
/* ---------------------------------------------------- */

.question {
    margin-top: 30px;
    margin-bottom: 40px;
}

.question button {
    display: block;

    width: 80%;
    max-width: 700px;

    margin: 10px 0;
    padding: 14px 18px;

    background-color: white;
    color: #263238;

    border: 1px solid #cfd8dc;
    border-radius: 8px;

    text-align: left;
    font-size: 16px;

    cursor: pointer;
}


/* Answer hover */

.question button:hover {
    background-color: #e3f2fd;
}


/* Correct answer */

.correct {
    color: #2e7d32;
    font-weight: bold;
}


/* Wrong answer */

.wrong {
    color: #c62828;
    font-weight: bold;
}